@mixin style {
  padding: 50px 0;
  width: 1100px;
  margin: 0 auto;
  .h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
  }
  .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .product {
      margin-top: 50px;
      width: 300px;
      border-radius: 10px;
      transition: transform 1.5s;
      &:hover {
        transform: scale(1.02);
      }
      img {
        height: 194.3px !important ;
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
      }

      .product-name,
      .product-price {
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        margin-top: 7px;
      }
      .product-button {
        display: block;
        width: 92.5%;
        margin: 10px auto;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
  @media (max-width: 1200px) {
    width: 992px;
    .product {
      width: 300px;
    }
  }
  @media (max-width: 992px) {
    width: 768px;
  }
  @media (max-width: 768px) {
    width: 100%;
    .products {
      display: block !important ;
      .product {
        width: 275px;
        margin: 30px auto 0;
      }
    }
  }
}
